:root {
    --clr-one: #10101a;
    --clr-two: #0c0c14;
    --clr-three: #2fbf71;
    --clr-black: #000;
    --clr-white: #fff;
    --transition: 0.3s all linear;
    --font-xs: 0.7rem;
    --font-sm: 0.8rem;
    --font-md: 0.855rem;
    --font-lg: 1.3rem;
    --font-xl: 1.5rem;
    --font-xxl: 1.8rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2400px;
    min-height: 300px;
    font-size: 0.9rem;
    background-color: var(--clr-one);
    color: var(--clr-white);
    line-height: 2rem;
    text-decoration: none;
}

#header-mob {
    width: 100%;
    z-index: 100;
    background-color: var(--clr-one);
    padding: 1rem;
    font-size: var(--font-lg);
}

.navbar-toggler-box {
    font-size: var(--font-xxl);
    padding: 1.2rem 1rem 0.5rem 1rem;
    
}

.navbar-toggler a{
    padding: 0.8rem;
    color: var(--clr-white);
    border-radius: 9px;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}  

.navbar-toggler a i {
    vertical-align: middle;
}

.navbar-toggler a:hover {
    background-color: var(--clr-three);
    
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    
}

.name-header-mob-right p {
    padding-top: 0.8rem;
}

#navbar-desktop {
    position: fixed;
    top: 0;
    right: 0;
    width: 15.6rem;
    height: 100%;
    background-color: var(--clr-two);
    overflow: visible;
}

#nav-top-container {
    width: 100%;
    height: 16rem;
    position: relative;
}

#geo-shape-one {
    width: 100%;
    height: 6rem;
    background-color: var(--clr-three);
}

#geo-shape-two {
    width: 100%;
    height: 15.6rem;
    background-color: var(--clr-three);
    border-radius:45%;
    -webkit-border-radius:45%;
    -moz-border-radius:45%;
    -ms-border-radius:45%;
    -o-border-radius:45%;
    margin-top: -8rem;
}

#img-profile {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50px;
    right: calc(15.6rem / 4);
    border: 3px solid var(--clr-white);
 
}

#img-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} 